.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 30px;
  color: #0ccac4;
}

footer {
  margin: 15px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
  }
}
